@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
.section-rule {
  width: 80%;
  margin: 0 auto; }

li {
  list-style: none;
  position: relative; }
  li:before {
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: #cbbf2cc7;
    content: "";
    bottom: 2px;
    z-index: -3;
    left: -2px;
    -webkit-transition: .4s ease;
    transition: .4s ease; }
  li.active:before, li:hover:before {
    width: 100%; }
  li a {
    display: block;
    text-decoration: none;
    color: #333;
    text-transform: uppercase; }

/* Navigation Styling */
header nav {
  position: fixed;
  z-index: 9;
  text-align: left;
  width: 100%;
  padding: 30px 100px;
  top: 0px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

header nav ul {
  list-style: none;
  padding: 0; }

header nav ul li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px; }

/* Navigation Styling Ends */
/* ================= */
/* Loading Screen Styling */
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4BEDC2;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0) skewX(0);
          transform: scaleY(0) skewX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none; }

/* Loading Screen Styling Ends */
/* ================= */
/* Heading Container Styling */
.heading-container {
  height: 80vh; }

.heading-container img.main-img {
  position: absolute;
  right: 30px;
  top: 80px;
  width: auto;
  opacity: 1;
  -webkit-transform: translateY(0) scale(3);
          transform: translateY(0) scale(3);
  height: 80vh;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-radius: 30px; }
  .heading-container img.main-img:hover {
    border-radius: 0px;
    opacity: .7 !important; }

.heading-container h1 {
  font-size: 160px;
  padding: 50px;
  top: 50px;
  margin-top: 20px;
  margin-left: 50px;
  line-height: 140px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  position: absolute;
  z-index: 9; }

/* Cool green stripe Styling */
.heading-container h1 span.green-heading-bg {
  display: inline;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4BEDC2), to(#4BEDC2));
  background-image: linear-gradient(#4BEDC2, #4BEDC2);
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: 0 40%;
  margin-left: -0.55rem;
  margin-right: -0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  -webkit-transition: background-size 1s 1.5s ease;
  transition: background-size 1s 1.5s ease; }

.heading-container h1 span.green-heading-bg.show {
  background-size: 100% 40%; }

/*# sourceMappingURL=style.css.map */